{% extends 'base.html' %}
{% block title %}Customer{% endblock title %}
{% block content %}

<div class="container mt-4">
    <div class="row">
        
        <div class="col-lg-8">
            <div class="row mb-3">
                <div class="col-md-3">
                    <div class="dashboard-card text-center">
                        <h3>${{ "{:,.2f}".format(total_balance) }}</h3>
                        <h6>Total Balance</h6>
                        
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="dashboard-card text-center">
                        <h3>${{ "{:,.2f}".format(current_balance) }}</h3>

                        <h6>Account Balance</h6>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="dashboard-card text-center">
                        <h3>$164</h3>
                        
                        <h6>Expenses</h6>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="dashboard-card text-center">

                        <h3>$257</h3>
                        <h6>Savings</h6>
                    </div>
                </div>
            </div>

            <!-- Finance Section -->
            <div class="dashboard-card mb-3" style="height: 250px;">
                <h6>Finances</h6>
                <div class="d-flex justify-content-center align-items-center h-100">
                    <p>Chart Placeholder</p>
                </div>
            </div>

            <!-- Transaction History -->
            <div class="dashboard-card">
                <h6>Transaction History</h6>
                {% if transactions %}
                <table class="table mt-2">
                    <thead>
                        <tr>
                            <th>Transaction ID</th>
                            <th>Amount</th>
                            <th>New Balance</th>
                            <th>Date</th>
                        </tr>
                    </thead>
                    {% for t in transactions %}
                    <tbody>
                        <tr>
                            <td>{{ t.id }}</td>
                            <td>${{ "{:,.2f}".format(t.amount) }}</td>
                            <td>${{ "{:,.2f}".format(t.new_balance) }}</td>
                            <td>{{ t.date.strftime('%Y-%m-%d %H:%M:%S') }}</td>
                        </tr>
                        {% endfor %}
                        <div>
                            {% if pagination.has_prev %}
                                <a href="{{ url_for('customer_list', id=customer.id, account_id=selected_account_id, page=pagination.prev_num) }}" 
                                   class="btn btn-primary">Previous</a>
                            {% endif %}
                
                            Page {{ pagination.page }} of {{ pagination.pages }}
                
                            {% if pagination.has_next %}
                                <a href="{{ url_for('customer_list', id=customer.id, account_id=selected_account_id, page=pagination.next_num) }}" 
                                   class="btn btn-primary">Next</a>
                            {% endif %}
                        </div>
                    
                    {% else %}
                        <p>No transactions found for this account.</p>
                    {% endif %}
                        
                    </tbody>
                </table>
            </div>
        </div>

        
        <div class="col-lg-4">
                
                    <div class="d-flex flex-row justify-content-between align-items-center mb-2">
                        <h6>My Card</h6>
                        <button class="btn btn-primary py-1 mb-2">Add Card</button>
                    </div>
                
                <div class="credit-card bg-dark text-white mb-4 p-4 d-flex flex-column justify-content-between">
                    
                    <div class="d-flex justify-content-between align-items-center">
                        <h4>Platinum Card</h4>
                        <i class="fab fa-cc-amex fa-2x"></i>
                    </div>
                    <div class="card-number my-3">
                        **** **** **** 9012
                    </div>
                    <div class="d-flex justify-content-between">
                        <div>
                            <div class="card-holder">{{ customer.given_name }} {{ customer.surname }}</div>
                            <div>Valid Thru: 09/26</div>
                        </div>
                        <img src="https://www.svgrepo.com/show/362035/visa-3.svg" alt="Chip" width="40">
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <ul class="nav nav-pills d-flex flex-row justify-content-between">
                            {% for acc in customer_accounts %}
                            <li class="nav-item">
                                <a class="nav-link {% if acc.id == selected_account_id %}active{% endif %}" 
                                   href="{{ url_for('customer_list', id=customer.id, account_id=acc.id, page=1) }}">
                                    {{ acc.account_type.value }}
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>

           
            
                <h6 class="pt-4">Quick Transaction</h6>
                <div class="d-flex my-2">
                    <img src="https://via.placeholder.com/40" class="rounded-circle me-2">
                    <img src="https://via.placeholder.com/40" class="rounded-circle me-2">
                    <img src="https://via.placeholder.com/40" class="rounded-circle me-2">
                    <img src="https://via.placeholder.com/40" class="rounded-circle me-2">
                </div>
                
                    <div class="input-group w-100">
                        <input type="text" class="form-control rounded mx-0 col-8" placeholder="$ Amount">
                        <button class="btn btn-dark rounded mx-2 col-4">Send</button>
                    </div>
                
            

            <div class="dashboard-card mt-4">
                <div class="d-flex justify-content-between">
                    <h6>My Goals</h6>
                    <button class="btn btn-sm btn-dark">Add</button>
                </div>
                <p>New iMac <span class="float-end">50%</span></p>
                <div class="progress mb-3">
                    <div class="progress-bar bg-dark" style="width: 50%;"></div>
                </div>
                <p>New Macbook 14” <span class="float-end">60%</span></p>
                <div class="progress">
                    <div class="progress-bar bg-dark" style="width: 60%;"></div>
                </div>
            </div>
        </div>
    </div>
</div>



<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">


{% endblock content %}
