{% extends 'base.html' %}
{% set active_page = "index" %}
{% block title %}Bank Dashboard{% endblock title %}
{% block content %}


<div class="container-fluid">
	<nav class="mb-4 base-margin">
		<div class="container-fluid px-0">
		  <form class="search-form" role="search">
			<input class="form-control fontAwesome" type="search" placeholder="Search country..." aria-label="Search">
		  </form>
		</div>
	  </nav>
	<div class="row base-margin">
		<div class="col-6 text-start ps-0">
			<div class="col text-white page-title mt-3">Dashboard</div>
			<div class="col page-desc mb-4">Here's your analytic details</div>
		</div>
		<div class="col-2">
			<form method="GET" action="{{ url_for('startpage') }}">
				
				
				<select name="country" id="country" class="form-select" onchange="this.form.submit()">
					<option value="all" {% if selected_country == "all" %}selected{% endif %}>Total</option>
					{% for count in country_list_items %}
					<option value="{{ count }}" {% if selected_country == count %}selected{% endif %}>{{ count }}</option>
					{% endfor %}
				
				</select>
			</form>
		</div>
		<div class="col-2">dropdown</div>
	</div>

</div>

<div class="container mt-4">
	<div class="row base-margin">
		<div class="col-6 p-0">
			<div class="row g-4">
				<div class="col-6">
					<div class="col card" id="sm-card">
						<div class="row d-flex justify-content-between">
							
							<div class="col-1 me-2"><div class="card-icons"><i class="bi bi-people-fill"></i></div></div>
							
							<div class="col text-start greytext pb-2" id="sm-card-title">{% if not selected_country or selected_country == "all" %}Total Customers{% else %}Customers in {{ selected_country }}{% endif %}</div>
						</div>
					<div class="col text-start pb-2" id="sm-card-value">{{ total_customers_by_country }}</div>
						<div class="row text-start" id="sm-card-changes">
							<span class="text-success text-start" id="sm-card-changes-percent">12.3% <span class="text-secondary text-start" id="sm-card-changes-constant">+$1,453.89 today</span></span>
				
							
					</div>
					<hr class="greytext">
					<div class="col text-start" id="sm-card-view-report">View Report -></div>

					</div>
				</div>
				<div class="col-6">
					<div class="col   card" id="sm-card">
						<div class="row d-flex justify-content-between">
							<div class="col text-start greytext" id="sm-card-title"><div class="card-icons"><i class="bi bi-credit-card-fill"></i></div>{% if not selected_country or selected_country == "all" %}Total Accounts{% else %}Accounts in {{ selected_country }}{% endif %}</div>
							
						</div>
					<div class="col text-start" id="sm-card-value">{{ total_accounts_by_country }}</div>
						<div class="row text-start" id="sm-card-changes">
							<span class="text-success text-start" id="sm-card-changes-percent">12.3% <span class="text-secondary text-start" id="sm-card-changes-constant">+$1,453.89 today</span></span>
				
							
					</div>
					<hr class="greytext">
					<div class="col text-start" id="sm-card-view-report">View Report -></div>

					</div>
				</div>
				<div class="col-6">
					<div class="col   card" id="sm-card">
						<div class="row d-flex justify-content-between">
							<div class="col text-start greytext" id="sm-card-title"><div class="card-icons"><i class="bi bi-cash-stack"></i></div>Total sales</div>
							
						</div>
					<div class="col text-start" id="sm-card-value">$120,784.02</div>
						<div class="row text-start" id="sm-card-changes">
							<span class="text-success text-start" id="sm-card-changes-percent">12.3% <span class="text-secondary text-start" id="sm-card-changes-constant">+$1,453.89 today</span></span>
				
							
					</div>
					<hr class="greytext">
					<div class="col text-start" id="sm-card-view-report">View Report -></div>

					</div>
				</div>
				<div class="col-6">
					<div class="col   card" id="sm-card">
						<div class="row d-flex justify-content-between">
							<div class="col text-start greytext" id="sm-card-title"><div class="card-icons"><i class="bi bi-currency-exchange"></i></div>Total sales</div>
							
						</div>
					<div class="col text-start" id="sm-card-value">$120,784.02</div>
						<div class="row text-start" id="sm-card-changes">
							<span class="text-success text-start" id="sm-card-changes-percent">12.3% <span class="text-secondary text-start" id="sm-card-changes-constant">+$1,453.89 today</span></span>
				
							
					</div>
					<hr class="greytext">
					<div class="col text-start" id="sm-card-view-report">View Report -></div>

					</div>
				</div>
			</div>
		</div>
		<div class="col-6 ps-3 pe-0">
			<div class="card" id="lg-card">
			<div class="row">
				<div class="col text-start" id="lg-card-title">{% if not selected_country or selected_country == "all" %}Total Balance{% else %}Total Balance in {{ selected_country }}{% endif %}</div>
				<div class="col text-end" id="lg-card-dropdown">
					
				</span>
			</div>
			<div class="row">

				<div class="col text-start display-5">
					$<span class="">{{ "{:,.2f}".format(richest_customers_by_country | sum(attribute="total_balance")) }}</span></div>
				
				<div class="col text-end" id="lg-card-prof_loss">
				</div>
				
					
				</div>
				<span class="text-success text-start" id="sm-card-changes-percent">12.3% <span class="text-secondary text-start" id="sm-card-changes-constant">+$1,453.89 today</span></span>

			</div>
			<hr class="greytext">
			<div class="row">
				<div class="col text-start">{% if not selected_country or selected_country == "all" %}Top 10 Wealthiest Customers{% else %}Top 10 Wealthiest in {{ selected_country }}{% endif %}</div>
				<div class="col text-end"></div>
			</div>
			<div class="row" id="if_flagged"></div>
			<div class="table-container">
			<table class="wealt-table table-dark text-start">
				{% for richest in richest_customers_by_country[:10] %}
				<tbody>
					<tr>
					<td>{{ richest.name }}</td>
					<td>${{ "{:,.2f}".format(richest.total_balance) }}</td>
					<td>{{ richest.country }}</td>
				</tr>
				{% endfor %}
				
				
				</tbody>
			</table>
		</div>
			<div class="stats"></div>
		</div>
	</div>
</div>
	<div class="row mt-3">
		<div class="col-7">
			<div class="row g-3">
				
				<div class="col-12">
					<div class="col card" id="sm-card">
						<div class="row">
							<div class="col text-start greytext">Recent Transactions</div>
							
						</div>

						<div class="table-container-transactions">
								<table class="wealt-table-trans table-dark text-start">
									<thead>
										<th>Customer id</th>
										<th>Customer</th>
										<th>Status</th>
										<th>Retained</th>
										<th>Amount</th>
										<th>Balance after trade</th>
									</thead>
									{% for latest_transac in transactions_by_country %}
									
									


									<tbody>
										<tr>
										<td>{{ latest_transac.customer_id }}</td>
										<td>{{ latest_transac.customer_name }}</td>
										<td class="badge rouded-pill bg-danger text-dark">Frozen</td>
										<td>5 min ago</td>
										<td>${{ "{:,.2f}".format(latest_transac.amount) }}</td>
										<td>${{ "{:,.2f}".format(latest_transac.new_balance) }}</td>

										
									</tr>
									{% endfor %}
									
									
									</tbody>
								</table>
							</div>
						
						
					
							
						</table>
					</div>
				</div>
				
			</div>
		</div>



		<div class="col-5 card" id="sm-card">
			
			<div class="row mx-2">
				
				
					<div class="row d-flex">
						<div class="col mb-2 text-start ps-0 greytext">Competitors Stock</div>
						
					</div>
							
							
		</div>
	</div>
	</div>

</div>


  </div>
 




</main>



  




{% endblock content %}
