{% extends 'base.html' %}
{% block title %}Bank Dashboard{% endblock title %}
{% block content %}


<div class="d-flex flex-column flex-md-row p-4 gap-3 justify-content-between w-100">
  <div class="list-group w-100">
      <h5 class="text-start">Counterparty Exposure</h5>
      <p class="list-group-item rounded-3 my-1 py-2 d-flex justify-content-between">
        <span class="currency-item">
            <span id="currency-logo"><img src="/static/images/sachs.jpg" alt="sachs"></span>
            Goldman Sachs
        </span>
        <span class="{% if gs > gs_pr %}text-success{% else %}text-danger{% endif %}">{% if gs %}{{ gs }}{% else %}{{ gs_pr }}{% endif %} USD</span>
    </p>
    <p class="list-group-item rounded-3 my-1 py-2 d-flex justify-content-between">
      <span class="currency-item">
          <span id="currency-logo"><img src="/static/images/boa.png" alt="sachs"></span>
          Bank of America
      </span>
      <span class="{% if bac > bac_pr %}text-success{% else %}text-danger{% endif %}">{% if bac %}{{ bac }}{% else %}{{ gs_pr }}{% endif %} USD</span>
  </p><p class="list-group-item rounded-3 my-1 py-2 d-flex justify-content-between">
    <span class="currency-item">
        <span id="currency-logo"><img src="/static/images/J_P_Morgan_Logo_2008_1.svg.png" alt="sachs"></span>
        JPMorgan
    </span>
    <span class="{% if jpm > jpm_pr %}text-success{% else %}text-danger{% endif %}">{% if jpm %}{{ jpm }}{% else %}{{ jpm_pr }}{% endif %} USD</span>
</p><p class="list-group-item rounded-3 my-1 py-2 d-flex justify-content-between">
  <span class="currency-item">
      <span id="currency-logo"><img src="/static/images/NDA-FI.HE-13ed89fc.png" alt="sachs"></span>
      Wells Fargo
  </span>
  <span class="{% if wfc > wfc_pr %}text-success{% else %}text-danger{% endif %}">{% if wfc %}{{ wfc }}{% else %}{{ wfc_pr }}{% endif %} USD</span>
</p>


  </div>
  <div class="list-group w-100">
      <h5 class="text-start">Currency Positions (1 USD)</h5>
      <p class="list-group-item rounded-3 my-1 py-2 d-flex justify-content-between">
          <span><span id="currency">€</span> EUR</span> <span class="text-primary">
            {{ currency_list_values.0 }}
          </span>
      </p>
      <p class="list-group-item rounded-3 my-1 py-2 d-flex justify-content-between">
          <span><span id="currency">F</span> CHF</span> <span class="text-primary">{{ currency_list_values.1 }}</span>
      </p>
      <p class="list-group-item rounded-3 my-1 py-2 d-flex justify-content-between">
          <span><span id="currency">£</span> GBP</span> <span class="text-primary">{{ currency_list_values.2 }}</span>
      </p>
      <p class="list-group-item rounded-3 my-1 py-2 d-flex justify-content-between">
        <span><span id="currency">¥</span> JPY</span> <span class="text-primary">{{ currency_list_values.3 }}</span>
    </p>
    <p class="list-group-item rounded-3 my-1 py-2 d-flex justify-content-between">
      <span><span id="currency">Kr</span> SEK</span> <span class="text-primary">{{ currency_list_values.4 }}</span>
  </p>


  </div>
  <div class="list-group w-100">
      <h5 class="text-start">Entity Positions</h5>
      <p class="list-group-item rounded-3 my-1 py-2 d-flex justify-content-between">
          <span>Deutsche Bank</span> <span class="text-success">1,200,000</span>
      </p>
      <p class="list-group-item rounded-3 my-1 py-2 d-flex justify-content-between">
          <span>JPMorgan</span> <span class="text-success">75,350€</span>
      </p>
      <p class="list-group-item rounded-3 my-1 py-2 d-flex justify-content-between">
          <span>Nordea</span> <span class="text-danger">-3,010,500€</span>
      </p>
      <p class="list-group-item rounded-3 my-1 py-2 d-flex justify-content-between">
          <span>Swedbank</span> <span class="text-success">150,000€</span>
      </p>
  </div>
</div>



<div class="container list-group">
  <div class="row justify-content-evenly">
    <div class="col-3 list-group-item rounded-3">
      <p class="text-muted small mb-1">Total cash</p>
      <h1 class="fw-bold mb-0">12,234,948€</h1>
    </div>
    <div class="col-3 list-group-item rounded-3">
      <p class="text-muted small mb-1">Total customers</p>
      <h1 class="fw-bold mb-0">12,234</h1>
    </div>
    <div class="col-5 list-group-item rounded-3">
      One of two columns
    </div>
    
</div>




  




{% endblock content %}
