{% extends 'base.html' %}
{% block title %}Management{% endblock %}

{% block content %}
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
<div class="d-flex w-100 px-4">
    <div class="row">
        <div class="d-flex justify-content-start p-3">
            <div class="text-start">
                <h1>Admin Admin</h1>
                <p>admin@mail.com</p>
            </div>
        </div>

        <div class="d-flex justify-content-between text-start">
            <div class="col-2 ">text</div>
            <div class="col-2 ">text</div>
            <div class="col-2 ">text</div>
            <div class="col-2 ">text</div>
            <div class="col-2 ">text</div>

        </div>
        <div class="d-flex justify-content-between text-start my-2">
            <div class="col-1 ">Open New Account</div>
            <div class="col-1 ">Edit Account</div>
            <div class="col-1 ">Deactivate Account</div>
            <div class="col-1 ">Close Account</div>
            <div class="col-1 ">View Transaction History</div>
            <div class="col-1 ">Deposit Funds</div>
            <div class="col-1 ">Withdraw Funds</div>
            <div class="col-1 ">Transfer Funds</div>

        </div>
    </div>

</div>

<div class="form-outline" data-mdb-input-init>
    <input type="search" id="form1" class="form-control"
        placeholder="Search" aria-label="Search" />
</div>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Customer ID</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Address</th>
            <th scope="col">City</th>
            <th scope="col">Country</th>


            <th scope="col">Telephone</th>
        
            <th scope="col">Birthday</th>
            <th scope="col">National Id</th>
            <th scope="col">Edit</th>

        
        </tr>
    </thead>
    {% for cust in customer %}
    
    <tbody>
        <tr onclick="window.location='{{ url_for('customer_list', id=cust.id) }}';" style="cursor: pointer;">
            
                
            <th scope="row">{{ cust.id }}</th>
            <td class="">{{ cust.given_name }} {{ cust.surname }}</td>
            <td class="">{{ cust.email_address }}</td>
            <td class="">{{ cust.streetaddress }}, {{ cust.zipcode }}</td>
            <td class="">{{ cust.city }}</td>
            <td class="">{{ cust.country_code }} {{ cust.country }}</td>
            
            <td class="">({{ cust.telephone_country_code }}) {{ cust.telephone }}</td>
            <td class="">{{ cust.birthday }}</td>
            <td class="">{{ cust.national_id }}</td>
            <td>
                
                

                
                <a href="{{ url_for('edit_customer', id=cust.id) }}" class="btn btn-sm btn-warning">
                    <i class="fas fa-edit">Edit</i> 
                </a>

                
                <button class="btn btn-sm btn-danger">
                    <i class="fas fa-trash">Delete</i> 
                </button>
            </td>

        
        </tr>
    </tbody>
        {% endfor %}

        {% endblock %}