{% extends 'baseTemplate.html' %}
{% set active_page = "management" %}
{% block title %}Management{% endblock %}


{% block content %}
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<div class="row g-4 mx-2">
 

    
    <div class="col-3 d-flex">
        <div class="card-border flex-fill p-4 pb-0" style="background-color: #1d1d1d;">
            <div class="row d-flex justify-content-between">
                <div class="col card-title pb-4">Currency </div>
                <div class="col text-end"><i class="bi bi-three-dots py-1 px-2 tiny-buttons rounded"></i></div>
            </div>
            
            
            
                
                    
                    <div class="mb-3">
                        <select id="fromCurrency" class="form-select">
                            {% for currency in currencies %}
                            <option value="{{ currency }}">{{ currency }}</option>
                            {% endfor %}
                        </select>
                        <input type="number" id="amount" class="form-control mt-2" placeholder="Enter amount">
                    </div>


                    
                    <div class="mb-3">
                        <select id="toCurrency" class="form-select">
                            {% for currency in currencies %}
                            <option value="{{ currency }}">{{ currency }}</option>
                            {% endfor %}
                        </select>
                        <input type="text" id="convertedAmount" class="form-control mt-2" placeholder="Converted amount" readonly>
                    </div>
                    <button class="exchange-btn" onclick="convertCurrency()">Exchange Now</button>
                    
                    <div class="number-pad">
                        <button onclick="addNumber(1)">1</button>
                        <button onclick="addNumber(2)">2</button>
                        <button onclick="addNumber(3)">3</button>
                        <button onclick="addNumber(4)">4</button>
                        <button onclick="addNumber(5)">5</button>
                        <button onclick="addNumber(6)">6</button>
                        <button onclick="addNumber(7)">7</button>
                        <button onclick="addNumber(8)">8</button>
                        <button onclick="addNumber(9)">9</button>
                        <button onclick="clearAmount()">C</button>
                        <button onclick="addNumber(0)">0</button>
                        
                    </div>
          
            <div class="col mt-5">
            </div>
            
        </div>
    </div>
    
    <div class="col-9 d-flex">
        <div class="p-2 card-border flex-fill p-4" style="background-color: #1d1d1d;">
            <div class="row d-flex justify-content-between">
                <div class="col card-title pb-2">Top 10 Wealthiest</div>
                <div class="col text-end"><i class="bi bi-search py-1 px-2 tiny-buttons rounded"></i></div>
            </div>
            
            <div class="table-container-big table-container">
                <table class="wealt-table table-hover table text-start">
                    <thead>
                        <tr>
                           
                            <th scope="col" class="text-start">Customer</th>
                            <th scope="col" class="text-start">Address</th>
                            <th scope="col" class="text-start">City</th>
                            <th scope="col" class="text-start">National Id</th>
                            <th scope="col" class="text-start">Customer ID</th>
                            <th scope="col"></th>
                
                
                        
                        </tr>
                    </thead>
                    {% for cust in customer %}
                    
                    <tbody>
                        <tr onclick="window.location='{{ url_for('customer_list', id=cust.id) }}';" style="cursor: pointer;">
                            
                                
                            <td class="text-start">
                                <strong>{{ cust.given_name }} {{ cust.surname }}</strong><br>
                                <span style="font-size: 0.85em; color: gray;">{{ cust.email_address }}</span>
                            </td>
                            <td class="text-start">{{ cust.streetaddress }}, {{ cust.zipcode }}</td>
                            <td class="text-start">{{ cust.city }}</td>
                            
                            <td class="text-start">{{ cust.national_id }}</td>
                            <td class="text-start">{{ cust.id }}</td>
                            <td class="text-end">
                                <div class="row">
                                  <div class="col p-0 m-0 text-end">
                                    <a class="dropdown-item p-1 d-flex justify-content-center align-items-center" href="{{ url_for('edit_customer', id=cust.id) }}">
                                        <i class="bi bi-pen py-1 px-2 tiny-buttons rounded"></i>
                                      </a>
                                  </div>
                                  <div class="col p-0 m-0 text-end">
                                    <a class="dropdown-item p-1 d-flex justify-content-center align-items-center" href="#">
                                        <i class="bi bi-trash py-1 px-2 tiny-buttons rounded"></i>
                                      </a>
                                  </div>
                                      
                                    
                                </div>
                              </td>
                            
       
                        </tr>
                    </tbody>
                    {% endfor %}
                </table>
                        
         
        </div>
        </div>
    </div>



    
</div>
















{% endblock %}